<div id="message-box" class="flex w-full space-y-8 justify-center" data-controller="feature-detection" data-action="msg->feature-detection#msg">
  <div class="group ring-2 ring-orange-500 relative flex justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium focus:outline-none" data-feature-detection-target="messageArea">
    <div class="flex">
      <span class="inset-y-0 left-0 flex items-center">
        <!-- Heroicon name: outline/exclamation-triangle -->
        <svg class="mr-3 h-5 w-5 text-orange-500 group-hover:text-orange-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>
      </span>
      <span class="text-orange-500" data-feature-detection-target="message" >
        <%= t '.did_not_work', default: 'Feature Detection did not work!' %>
      </span>
    </div>
  </div>
  <div class="hidden" data-feature-detection-target="formArea">
    <%= yield %>
  </div>
</div>
